In [1]:
import pandas as pd
from numpy import isinf

In [2]:
# Get data for all Test matches (March 8, 2004 - January 11, 2022) - compiled together from Cricsheet
data = pd.read_csv('all_matches.csv')

In [3]:
# Filter matches based on date
from_date = '2021-12-26'
to_date = '2022-01-11'
data = data[(data['start_date'] >= from_date) & (data['start_date'] <= to_date)]

In [4]:
# Aggregate runs scored, balls faced, and outs for each batsman of a team against each opposition bowler
team = 'India'
matchup_data = data[data['batting_team'] == team].groupby(['striker', 'bowler']).agg(
    runs = ('runs_off_bat', 'sum'), balls = ('runs_off_bat', 'count'), outs = ('player_dismissed', 'count')
).reset_index()

# Compute average and strike rate
matchup_data['avg'] = (matchup_data['runs'] / matchup_data['outs']).round(2)    
matchup_data['strike_rate'] = (100 * (matchup_data['runs'] / matchup_data['balls'])).round(2)

# Sort by average (descending) while excluding infinite and NaN values
matchup_data[(~isinf(matchup_data['avg'])) & (~matchup_data['avg'].isnull())].sort_values(
    'avg', 
    ascending = False
).reset_index(drop = True)

           striker      bowler  balls  outs  runs    avg  strike_rate
0         KL Rahul    K Rabada    162     1    56  56.00        34.57
1        AM Rahane    M Jansen     62     1    52  52.00        83.87
2          V Kohli    K Rabada    102     1    51  51.00        50.00
3         KL Rahul   D Olivier     87     1    45  45.00        51.72
4          V Kohli    M Jansen    130     1    43  43.00        33.08
5        SN Thakur    M Jansen     33     1    33  33.00       100.00
6         KL Rahul     L Ngidi     73     1    33  33.00        45.21
7        AM Rahane     L Ngidi     60     1    29  29.00        48.33
8       MA Agarwal    K Rabada    123     2    58  29.00        47.15
9          RR Pant    K Rabada     91     2    56  28.00        61.54
10       JJ Bumrah    K Rabada     23     1    26  26.00       113.04
11         RR Pant     L Ngidi     48     1    24  24.00        50.00
12       CA Pujara   D Olivier     43     1    22  22.00        51.16
13       CA Pujara     L Ngidi     92     2    44  22.00        47.83
14      MA Agarwal     L Ngidi     50     1    21  21.00        42.00
15      MA Agarwal   D Olivier     21     1    20  20.00        95.24
16         RR Pant    M Jansen     68     2    37  18.50        54.41
17       CA Pujara    M Jansen     56     2    32  16.00        57.14
18        R Ashwin    M Jansen     33     2    29  14.50        87.88
19      MA Agarwal    M Jansen     49     2    29  14.50        59.18
20       AM Rahane   D Olivier     19     1    14  14.00        73.68
21       CA Pujara    K Rabada     64     1    13  13.00        20.31
22       GH Vihari    K Rabada     42     1    13  13.00        30.95
23        R Ashwin     L Ngidi     22     2    20  10.00        90.91
24        KL Rahul    M Jansen    105     3    27   9.00        25.71
25       AM Rahane    K Rabada     53     3    26   8.67        49.06
26        R Ashwin    K Rabada     18     2    17   8.50        94.44
27         V Kohli     L Ngidi     92     2    15   7.50        16.30
28       JJ Bumrah    M Jansen     29     2    15   7.50        51.72
29       SN Thakur  KA Maharaj      6     1     6   6.00       100.00
30       SN Thakur    K Rabada     27     2    11   5.50        40.74
31       SN Thakur   D Olivier     12     1     5   5.00        41.67
32  Mohammed Shami     L Ngidi     12     2     8   4.00        66.67
33        UT Yadav    K Rabada     17     1     4   4.00        23.53
34  Mohammed Siraj     L Ngidi      5     1     4   4.00        80.00
35       SN Thakur     L Ngidi      7     1     4   4.00        57.14
36  Mohammed Shami    M Jansen     21     2     7   3.50        33.33
37       JJ Bumrah     L Ngidi      5     1     3   3.00        60.00
38  Mohammed Shami    K Rabada     29     2     3   1.50        10.34
39  Mohammed Siraj    M Jansen      7     1     1   1.00        14.29
40  Mohammed Siraj    K Rabada      7     1     0   0.00         0.00

In [5]:
# Matchup data for a specific batsman
batsman = 'KL Rahul'
matchup_data[matchup_data['striker'] == batsman].sort_values('avg', ascending = False).reset_index(drop = True)

    striker      bowler  balls  outs  runs   avg  strike_rate
0  KL Rahul  KA Maharaj     46     0    35   inf        76.09
1  KL Rahul  PWA Mulder     72     0    30   inf        41.67
2  KL Rahul    K Rabada    162     1    56  56.0        34.57
3  KL Rahul   D Olivier     87     1    45  45.0        51.72
4  KL Rahul     L Ngidi     73     1    33  33.0        45.21
5  KL Rahul    M Jansen    105     3    27   9.0        25.71

In [6]:
# Matchup data for a specific bowler
bowler = 'M Jansen'
matchup_data[matchup_data['bowler'] == bowler].sort_values('avg').reset_index(drop = True)

           striker    bowler  balls  outs  runs   avg  strike_rate
0   Mohammed Siraj  M Jansen      7     1     1   1.0        14.29
1   Mohammed Shami  M Jansen     21     2     7   3.5        33.33
2        JJ Bumrah  M Jansen     29     2    15   7.5        51.72
3         KL Rahul  M Jansen    105     3    27   9.0        25.71
4       MA Agarwal  M Jansen     49     2    29  14.5        59.18
5         R Ashwin  M Jansen     33     2    29  14.5        87.88
6        CA Pujara  M Jansen     56     2    32  16.0        57.14
7          RR Pant  M Jansen     68     2    37  18.5        54.41
8        SN Thakur  M Jansen     33     1    33  33.0       100.00
9          V Kohli  M Jansen    130     1    43  43.0        33.08
10       AM Rahane  M Jansen     62     1    52  52.0        83.87
11       GH Vihari  M Jansen     28     0     6   inf        21.43
12        UT Yadav  M Jansen      2     0     0   NaN         0.00